$color-background: #eee;
// $color-background: #fff;
$color-foreground: #000;
$color-border: #999;
$color-text: #030409;
$color-primary: #6d54eb;
// $color-primary: #295bff;
// $color-primary: #0099ffff;
$color-secondary: #b7a0da;
$color-accent: #a771c7;
// $color-accent: #ff8b00;