@import "variables";


:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-foreground
}

a {
    color: inherit;
}

ul {
    margin: 0 1em;
}

body {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    
    main {
        flex: 1;
        width: 100%;
        max-width: 65em;
        margin: 0 auto;
    }
}

header {
    padding: 8px;
    margin-bottom: 1em;
    // border-bottom: 1px solid $color-border;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0.2em 0.2em rgba(200, 200, 200, 0.1);
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    a {
        text-decoration: none;
        color: $color-text;
    }

    ul > li {
        list-style: none;
        display: inline-block;
        padding: 0 10px;
    }

    &>:last-child {
        text-align: right;
    }
}

footer {
    border-top: 1px solid $color-border;
    padding: 2em 0 0;
    margin-top: 1em;
    background-color: #222;
    color: #fff;
    text-align: center;
    
    .categories {
        width: 100%;
        max-width: 65em;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 4em;
        text-align: start;
        
        div {
            .title {
                margin-bottom: 4px;
                // font-weight: bold;
                color: #fff;
                text-transform: uppercase;
            }
            
        }
        a {
            color: #bbb;
            display: block;
        }
    }
    
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    
    .copyright {
        color: #999;
        font-size: small;
        margin: 2em;
    }
}

dl {
    div {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding: 1.5rem 0;
        gap: 1rem;
        line-height: 1.5rem;

        dt {
            color: #000;
            font-weight: 500;
            font-size: 0.875rem;
        }
        
        dd {
            color: #525252;
            font-size: 0.875rem;
        }

        ~div {
            border-top: 1px solid #c2c2c2;
        }
    }
}

// .btn {
//     text-decoration: none;
//     border-radius: 6px;
//     background-color: $color-primary;
//     color: $color-background;
//     padding: 6px 10px;

//     &.secondary {
//         background-color: inherit;
//         color: inherit;
//     }
// }

.card {
    padding: 0.75em;
    border: 1px solid $color-border;
    border-radius: 1em;
}

button, .btn {
    cursor: pointer;
    // padding: 10px 16px;
    padding: 8px 12px;
    outline: none;
    border: none;
    font-weight: 500;
    border-radius: 6px;
    color: #fff;
    background-color: $color-primary;
    
    &.secondary {
        color: $color-primary;
        background-color: transparent;
        border: 1px solid $color-primary;
    }
}
