@import "../variables";

article {
    width: 100%;
    max-width: $break-normal;
    margin: 2em auto;
    
    h1 {
        font-size: 3em;
        margin: 16px 0 10px 0;
    }

    h2 {
        font-size: 2em;
        margin: 16px 0 8px 0;
    }

    h3 {
        font-size: 1.5em;
        margin: 16px 0 6px 0;
    }
    h4 {
        font-size: 1.25em;
        margin: 16px 0 6px 0;
    }

    p + p {
        margin-top: 12px;
    }
    
    ul + p {
        margin: 12px inherit;
    }
}