{% extends "layout.html" %}
{% block title -%} Home {%- endblock %}
{% block content %}
<div class="search-wrapper">
    <h1>Search humanities mathematical knowledge</h1>
    <form action="/search" method="get">
        <input type="text" name="query" id="" placeholder="Search for mathematical theorems, definitions or anything else math related">
    </form>
</div>
<div>
    <h2>Some title here...</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste placeat nulla fuga sed fugiat reprehenderit ipsa, beatae dolorum odit cum sequi at nobis ullam repudiandae fugit consequatur inventore tempore exercitationem!
    Libero quibusdam quis minima incidunt inventore, odio accusantium officiis perferendis consequatur assumenda eos nam, explicabo facilis eligendi voluptate totam officia vitae eius! Sequi, rem distinctio pariatur earum vel corporis suscipit.
    Qui eveniet maxime expedita ullam tenetur necessitatibus repellat quis impedit inventore eius distinctio odio quidem, vitae quo ut cum neque, officiis alias sint eligendi doloremque non vel. Facere, totam ut!</p>
    <h2>Some title here...</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste placeat nulla fuga sed fugiat reprehenderit ipsa, beatae dolorum odit cum sequi at nobis ullam repudiandae fugit consequatur inventore tempore exercitationem!
    Libero quibusdam quis minima incidunt inventore, odio accusantium officiis perferendis consequatur assumenda eos nam, explicabo facilis eligendi voluptate totam officia vitae eius! Sequi, rem distinctio pariatur earum vel corporis suscipit.
    Qui eveniet maxime expedita ullam tenetur necessitatibus repellat quis impedit inventore eius distinctio odio quidem, vitae quo ut cum neque, officiis alias sint eligendi doloremque non vel. Facere, totam ut!</p>
    <h2>Some title here...</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste placeat nulla fuga sed fugiat reprehenderit ipsa, beatae dolorum odit cum sequi at nobis ullam repudiandae fugit consequatur inventore tempore exercitationem!
    Libero quibusdam quis minima incidunt inventore, odio accusantium officiis perferendis consequatur assumenda eos nam, explicabo facilis eligendi voluptate totam officia vitae eius! Sequi, rem distinctio pariatur earum vel corporis suscipit.
    Qui eveniet maxime expedita ullam tenetur necessitatibus repellat quis impedit inventore eius distinctio odio quidem, vitae quo ut cum neque, officiis alias sint eligendi doloremque non vel. Facere, totam ut!</p>
    <h2>Some title here...</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste placeat nulla fuga sed fugiat reprehenderit ipsa, beatae dolorum odit cum sequi at nobis ullam repudiandae fugit consequatur inventore tempore exercitationem!
    Libero quibusdam quis minima incidunt inventore, odio accusantium officiis perferendis consequatur assumenda eos nam, explicabo facilis eligendi voluptate totam officia vitae eius! Sequi, rem distinctio pariatur earum vel corporis suscipit.
    Qui eveniet maxime expedita ullam tenetur necessitatibus repellat quis impedit inventore eius distinctio odio quidem, vitae quo ut cum neque, officiis alias sint eligendi doloremque non vel. Facere, totam ut!</p>
    <h2>Some title here...</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste placeat nulla fuga sed fugiat reprehenderit ipsa, beatae dolorum odit cum sequi at nobis ullam repudiandae fugit consequatur inventore tempore exercitationem!
    Libero quibusdam quis minima incidunt inventore, odio accusantium officiis perferendis consequatur assumenda eos nam, explicabo facilis eligendi voluptate totam officia vitae eius! Sequi, rem distinctio pariatur earum vel corporis suscipit.
    Qui eveniet maxime expedita ullam tenetur necessitatibus repellat quis impedit inventore eius distinctio odio quidem, vitae quo ut cum neque, officiis alias sint eligendi doloremque non vel. Facere, totam ut!</p>
</div>
{% endblock %}
