dl {
    div {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding: 1.5rem 0;
        gap: 1rem;
        line-height: 1.5rem;

        dt {
            color: #000;
            font-weight: 500;
            font-size: 0.875rem;
        }
        
        dd {
            color: #525252;
            font-size: 0.875rem;
        }

        ~div {
            border-top: 1px solid #c2c2c2;
        }
    }
}
