@import "variables";

footer {
    border-top: 1px solid $color-border;
    padding: 2em 0 0;
    margin-top: 3em;
    background-color: #222;
    color: #fff;
    text-align: center;
    
    .categories {
        width: 100%;
        max-width: 65em;
        padding: 0 16px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 4em;
        text-align: start;
        
        .title {
            margin-bottom: 4px;
            // font-weight: bold;
            color: #fff;
            text-transform: uppercase;
        }
        a {
            color: #bbb;
            display: block;
        }
    }
    
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    
    .copyright {
        color: #999;
        font-size: small;
        margin: 2em;
    }
}
